html {
  background-color: var(--bg);
  overflow-x: hidden;
}

.App {
  text-align: center;
  width: 100vw;
}

body {
  background-color: #eee;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  justify-content: center;
}